<h2>Tournois</h2>

<p-table
  [value]="tournaments"
>
  <ng-template #header>
    <tr>
      <th>Name</th>
      <th>Lieu</th>
      <th>Date de début</th>
      <th>Status</th>
      <th>Elo</th>
      <th>Joueurs</th>
    </tr>
  </ng-template>
  <ng-template #body let-tournament>
    <tr>
      <td [routerLink]="'/tournament/' + tournament.id">{{ tournament.name }}</td>
      <td>{{ tournament.place }}</td>
      <td class="center">{{ tournament.startDate }}</td>
      <td class="center">{{ tournament.status }}</td>
      <td class="center">{{ tournament.minElo }} - {{ tournament.maxElo }}</td>
      <td class="center">{{ tournament.nbrOfPlayer }}/{{ tournament.maxPlayer }}</td>
    </tr>
  </ng-template>
  <ng-template #footer>
    <p-paginator class="custom-paginator" (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalElements"/>
  </ng-template>
</p-table>
