@if (isAdmin()) {
  <div class="admin">
    @if (tournament?.tournamentDTO?.status === "WAITING") {
      <p-button (click)="startTournament(tournament)" label="Start Tournament"></p-button>
    }
    @if (tournament?.tournamentDTO?.status === "IN_PROGRESS") {
      <p-button (click)="nextRound(tournament)" label="Next Round" severity="info"></p-button>
    }
    @if (tournament?.tournamentDTO?.status !== "IN_PROGRESS") {
      <p-button (click)="deleteTournament(tournament.tournamentDTO.id)" label="Delete Tournament"
                severity="danger"></p-button>
    }
  </div>
}
<p-tabs value="0">
  <p-tablist>
    <p-tab value="0">Details</p-tab>
    <p-tab value="1">Matches</p-tab>
    <p-tab value="2">Standings</p-tab>
  </p-tablist>
  <p-tabpanels>
    <p-tabpanel value="0">
      <div class="container mx-auto p-6 max-w-3xl details">
        <div class="shadow-lg rounded-2xl bg-white p-6 details-info">
          <h2 class="text-2xl font-bold mb-2">{{ tournament?.tournamentDTO?.name }}</h2>
          <p class="text-gray-600 mb-4">
            <strong>Location:</strong> {{ tournament?.tournamentDTO?.place }}
          </p>
          <div class="flex flex-wrap gap-2 mb-4">
            <span class="bg-blue-500 text-white text-sm font-semibold px-3 py-1 rounded">
              <em>{{ tournament?.tournamentDTO?.status }}</em>
            </span>
            <p class="text-gray-700">
              <strong>Categories :</strong>
              <br>
              <span class="bg-gray-500 text-white text-sm font-semibold px-3 py-1 rounded"
                    *ngFor="let category of tournament?.tournamentDTO?.categories">- {{ category }} <br></span>
            </p>
          </div>
          <p class="text-gray-700">
            <strong>Players:</strong> {{ tournament?.tournamentDTO?.nbrOfPlayer }}
            (Min: {{ tournament?.tournamentDTO?.minPlayer }}, Max: {{ tournament?.tournamentDTO?.maxPlayer }})
          </p>
          <p class="text-gray-700">
            <strong>Elo:</strong> {{ tournament?.tournamentDTO?.minElo }} - {{ tournament?.tournamentDTO?.maxElo }}
          </p>
          <p class="text-gray-700">
            <strong>Starts on:</strong> {{ tournament?.tournamentDTO?.startDate }}
          </p>
          <p class="text-gray-700">
            <strong>Current round:</strong> {{ tournament?.tournamentDTO?.currentRound }}
          </p>
          @if (isConnected()) {
            <div class="member" *ngIf="tournament?.tournamentDTO?.status === 'WAITING'">
              <p-button (click)="registerTournament(tournament.tournamentDTO.id)"
                        label="Register for tournament"></p-button>
              <p-button (click)="unregisterTournament(tournament.tournamentDTO.id)" label="Unregister for tournament"
                        severity="danger"></p-button>
            </div>
          } @else {
            <a routerLink="/login">Log in to take part of this tournament!</a>
          }

        </div>
        <div class="details-players">
          @if (players){
            <p-table [value]="players">
              <ng-template #caption>
                <h3>Players</h3>
              </ng-template>
              <ng-template #body let-player>
                <tr>
                  <td>{{ player.pseudonym }}</td>
                  <td>{{ player.elo }} elo</td>
                  <td>
                    @if (isAdmin() && tournament?.tournamentDTO?.status === "WAITING") {
                      <p-button (click)="deletePlayer(player.id)" label="Delete"
                                severity="danger"></p-button>
                    }
                  </td>
                </tr>
              </ng-template>
            </p-table>
          } @else {
            <h3>Players</h3>
            <p>Nobody registered yet, be the first to subscribe!</p>
          }
        </div>
      </div>
    </p-tabpanel>
    <p-tabpanel value="1">
      <h2>Matches</h2>
      @if (matches) {
        <p-table [value]="matches">
          <ng-template #header>
            <tr>
              <td>White</td>
              <td>Result</td>
              <td>Black</td>
            </tr>
          </ng-template>
          <ng-template #body let-match>
            <tr>
              <td>{{ match.whitePlayer.elo }} {{ match.whitePlayer.pseudonym }}</td>
              @switch (match.matchResult) {
                @case ("WHITE") {
                  <td>1 - 0</td>
                }
                @case ("BLACK") {
                  <td>0 - 1</td>
                }
                @case ("DRAW") {
                  <td>0.5 - 0.5</td>
                }
                @default {
                  <td> VS</td>
                }
              }
              <td>{{ match.blackPlayer.pseudonym }} {{ match.blackPlayer.elo }}</td>
            </tr>
          </ng-template>
        </p-table>
      } @else {
        <p>This tournament has not started yet.</p>
      }

    </p-tabpanel>
    <p-tabpanel value="2">
      <h2>Standings</h2>
      @if (standings) {
        <p-table [value]="standings">
          <ng-template #header>
            <tr>
              <td>Pseudonym</td>
              <td>Matches played</td>
              <td>Victories</td>
              <td>Loses</td>
              <td>Draws</td>
              <td>Points</td>
            </tr>
          </ng-template>
          <ng-template #body let-standing>
            <tr>
              <td>{{ standing.pseudonym }}</td>
              <td>{{ standing.nbrOfMatchsPlayed }}</td>
              <td>{{ standing.nbrOfMatchsWon }}</td>
              <td>{{ standing.nbrOfMatchsLost }}</td>
              <td>{{ standing.nbrOfMatchsDrawn }}</td>
              <td>{{ standing.points }}</td>
            </tr>
          </ng-template>
        </p-table>
      } @else {
        <p>This tournament has not started yet.</p>
      }
    </p-tabpanel>
  </p-tabpanels>
</p-tabs>


