<div class="presentation">
  <h2>Welcome to ChessTM!</h2>
  <p>You will find here all the information about chess tournaments and much more.</p>
  <p>We wish you to spend a good time.</p>
</div>

<div class="tables">
  <p-table [value]="tournaments">
    <ng-template #caption>
      <h3>Recent tournaments</h3>
    </ng-template>
    <ng-template #header >
      <tr>
        <th>Name</th>
        <th>Location</th>
        <th>Starting date</th>
        <th>Elo</th>
        <th>Players</th>
      </tr>
    </ng-template>
    <ng-template #body let-tournament>
      <tr [routerLink]="'/tournament/' + tournament.id">
        <td>{{ tournament.name }}</td>
        <td>{{ tournament.place }}</td>
        <td class="numbers">{{ tournament.startDate }}</td>
        <td class="numbers">{{ tournament.minElo }} - {{ tournament.maxElo }}</td>
        <td class="numbers">{{ tournament.nbrOfPlayer }}/{{ tournament.maxPlayer }}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
