@import "primeicons/primeicons.css";

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.p-panelmenu-item-link-active {
  background-color: var(--p-surface-100);
  border-radius: 0.25rem;
}
